.company {
    background-color: gold;
}
.aboutcompany {
    background-color: gold;
}
.history{
    background-color: gold;
}
.company h1 {
    background-color: black;
    color: #f2ff00;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
}
.галерея h1{ 
    background-color: black;
    color: #f2ff00;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.aboutcompany h1{
    background-color: black;
    color: #f2ff00;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.history h1 {
    background-color: black;
    color: #f2ff00;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.history img {
    width: 230px;
    padding-left: 835px;
}
table {
    border: 2px solid #000;
    border-collapse: collapse;
    width: 600px;
    height: 100px;
}
td th{
    border:2px solid #000;
}
.галерея {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.галерея img {
width: 25%; 
padding: 5px; 
box-sizing: border-box; 
}
.carousel{
      overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
   
}
.clic1:hover {
    background-color: rgb(255, 230, 0);
}
.clic2:hover {
    background-color: rgb(51, 255, 0);
}
.clic3:hover {
    background-color: rgb(255, 230, 0);
}
.clic4:hover {
    background-color:  rgb(51, 255, 0);
}
.color {
    background-color: #ff6347;
   animation: colorChange 7s infinite alternate;
}
 
@keyframes nolorChange {
  from {
    background-color: #f2ff00;
    color: #000;
  }
  to {
    background-color: rgb(0, 0, 0);
    color: #f2ff00;
  }
}
